<div class="footer-padding"></div>
<hr style="border-style: solid none none; width: 90%; text-align: center; margin: auto; margin-top: 2%; height: 0px;  color: black;">
  <div class="footer container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
           <h3 class=" footer-head">About Us</h3>
            <div style="text-align: left;">
            <p class="footer-para">At Vision-2047, we lead the charge in sustainable solutions, specializing in carbon offsetting. Empowering businesses and individuals, we combat climate change through innovation and commitment. Join us in shaping a greener, more responsible future.</p>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
        <h3 class="footer-head">Our Location</h3>
            <div style="text-align:left;" >
                <p class="footer-para" >Headqaurters<br>
                    110018 Ashok Nagar West Delhi Shiva Apartment Second floor
                </p>
                <a href="https://www.google.com/maps/d/u/0/viewer?mid=1_JbcSJ3UjYfSCAhTQqG5tTftZWM&hl=en_US&ll=28.592920012812773%2C77.3054134196434&z=18"style="text-decoration: none; color: #000;">View on Maps<i class="fas fa-map-marker-alt"></i></a>
                </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
        <h3 class="footer-head">Our Partners</h3></a>
            <div style="text-align: left;">
                <a href="https://sankalptaru.org/"style="text-decoration: none; color: #000;">Sankalp Taru</a><br>
                <a href="https://www.adanigreenenergy.com/"style="text-decoration: none; color: #000;">Adani Green</a><br>
                <a href="https://www.greenhands.in/"style="text-decoration: none; color:#000;">Green Hands</a><br>
                <a href="https://inoxwind.com/"style="text-decoration: none; color: #000;">Inox Wind</a>
                </div>
        </div>
        </div>
    <a href="/sendEmail" style="color: black;"><i class="fa-solid fa-envelope icon-social fa-2x"></i></a>
    <a href="" style="color: black;"><i class="fa-brands fa-instagram  icon-social  fa-2x"></i></a>
    <a href="" style="color:black;"><i class="fa-brands fa-x-twitter icon-social  fa-2x "></i></a>
    <a href=""style="color: black;"><i class="fa-brands fa-youtube  fa-2x"></i></a>
    <p class="footer-ending">Thank You</p>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>