<%-include("partials/header") -%>
<div class="offset-head">
    <h3 class="offset-sub-heading">Small Footprint, Big Impact.</h3>
    <h1 class="offset-heading">Offset Your Emissions</h1>

    <p class="offset-paragraph">
      Offsetting refers to the act of compensating for the environmental impact of certain activities, such as carbon emissions, by investing in projects that reduce or remove an equivalent amount of greenhouse gases from the atmosphere. These projects can include reforestation, renewable energy initiatives, and methane capture. Offset programs aim to achieve carbon neutrality or a net zero carbon footprint by balancing emissions with equivalent reductions elsewhere.
    </p>
</div>
<div class="offset-cards" style="background-color: rgb(240, 239, 237); padding: 5%;" >
    <h1 class="offset-heading" style="color: black; text-align: center; font-weight: 500; font-size: 50px; letter-spacing: 0px; font-family:'roboto';">Subcriptions Offered by Us</h1>
    <div class="row offset-row">
        <div class="col-lg-4 col-sm-12">
            <div class="card offset-card" style="width: 18rem;">
                <img src="/images/trial.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Trial Plan</h5>
                  <p class="card-text offset-para">This plan consists of offseting your carbon footprint over the course of a month for free as a part of trial.</p>
                  <h5>Free</h5>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card offset-card" style="width: 18rem;">
                <img src="/images/standard.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Stantard plan</h5>
                  <p class="card-text offset-para">Under this plan we provide you with one year of subscription and offset all your footprints emitted over a year.</p>
                  <h5>₹10000</h5>
                  <div class="d-grid gap-2"><button class="btn btn-primary button2">Pay Now</button></div>
                </div>
              </div>

        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card offset-card" style="width: 18rem;">
                <img src="/images/crown.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Premium Plan</h5>
                  <p class="card-text offset-para">We will provide you with subscription for 5years and acess to a host of other sevices
                    such as personalised tips every month to keep you ahead of curve.
                  </p>
                  <h5>₹28000</h5>
                  <div class="d-grid gap-2"><button class="btn btn-primary button3">Pay Now</a></div>
                </div>
              </div>

        </div>
    </div>
    <div class="row offset-row">
        <div class="col-lg-4 col-sm-12">
            <div class="card offset-card" style="width: 18rem;">
                <img src="/images/family-transformed.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Family Plan</h5>
                  <p class="card-text offset-para">Whether You are a family of two or family of eight we have got you covered 
                    Under this plan we will offer you suggestion based on number of peple in your family for two years.
                  </p>
                  <h5>₹1200(per person)</h5>
                  <div class="d-grid gap-2"><button class="btn btn-primary button4">Pay Now</button></div>
                </div>
              </div>

        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card offset-card" style="width: 18rem;">
                <img src="/images/student-transformed.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Student Plan</h5>
                  <p class="card-text offset-para">If you are a student and looking for research material this website is a nice palce to consider
                    we have attatched various scholary articles for this puprose.
                  </p>
                  <h5>₹12000</h5>
                  <div class="d-grid gap-2"><button href="#" class="btn btn-primary button5">Pay Now</button></div>
                </div>
              </div>
        </div>

    </div>

</div>
<script>
   const button1 = document.querySelector(".button1")
   const button2 = document.querySelector(".button2")
   const button3 = document.querySelector(".button3")
   const button4 = document.querySelector(".button4")
   const button5 = document.querySelector(".button5")
   const button6 = document.querySelector(".button6")
   const button7 = document.querySelector(".button7")
   const button8 = document.querySelector(".button8")
   const button9 = document.querySelector(".button9")
   
button1.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 1, quantity: 1 },
        ,
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button2.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
                { id: 2, quantity: 1 },
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button3.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 3, quantity: 1 },
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button4.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 4, quantity: 1 },
       
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button5.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 5, quantity: 1 },
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button6.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 6, quantity: 1 },
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button7.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 7, quantity: 1 },
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button8.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 8, quantity: 1},
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button9.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 9, quantity: 1},
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
</script>

<%-include("partials/footer") -%>