<%- include("partials/header") -%>
<div class="card-indus">
    <h1 class="testimonial-heading" style="text-align: center; font-weight: 500; padding-top: 4%; padding-bottom: 2%;">Research Options</h1>
    <h5 class="offset-sub-heading" style="color: black; text-align: center;padding-bottom: 3%;">Some basic Research Topics </h5>
    <div class="row">
        <div class="col-lg-6">
           <div class="card" style ="width: 35rem; margin:auto;margin-top:3%">
            <img src="/images/energyeffciency.jpeg" class="card-img" alt="">
            <div class="card-header">
                <a href="https://www.nature.org/en-us/get-involved/how-to-help/carbon-footprint-calculator/#:~:text=What%20is%20a%20carbon%20footprint,are%20generated%20by%20our%20actions."><h3>Understanding Carbon Footprint: What It Is and Why It Matters</h3>
                </a>
            </div>
            <div class="card-body">
                <p class="card-explanation">By this article students can know the basics of what is a carbon footprint and how it affects our
                    life.
                </p>
            </div>
           </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 30rem; margin:auto;margin-top: 3%;">
                <img src="/images/carbonstorage.jpeg" class="card-img-top" alt="...">
                <div class="card-header">
                    <a href="https://www.ucsusa.org/climate/solutions"><h3>How to Calculate and Reduce Your Carbon Footprint</h3>
                </div>
                <div class="card-body">
                  <p class="card-explanation">
                     This article helps student understand how to calculate carbon footprint and ways to reduce it and concept of offset.
                  </p>
                </div>
              </div>
        </div>
    </div>
    <h5 class="offset-sub-heading" style="color: black; text-align: center;padding-top: 3%;">Intermediate Research Articles </h5> 
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 35rem; margin:auto;margin-top: 3%;">
                <img src="/images/tamilnadu.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <a href="https://pubsonline.informs.org/doi/abs/10.1287/mnsc.2021.4293"><h3>How to offset Carbon emissions</h3>
                        </a>
                </div>
                <div class="card-body">
                  <p class="card-explanation">In this article there is in-depth knowledge of how to offset carbon emissions in daily life 
                    by targeting eco-friendly consummers.
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 35rem; margin:auto;margin-top: 3%;">
                <img src="/images/solidwaste.jpeg" class="card-img-top" alt="...">
                <div class="card-header">
                    <a href="https://www.pmc.gov.in/en/solid-waste-management-strategic-plan#:~:text=Pune%20Municipal%20Corporation%20has%20prepared,transportation%2C%20processing%20%26%20Scientific%20Landfill%20."><h3>Pune Municipal Solid Waste Management Project</h3>
                    </a>
                </div>
                <div class="card-body"> 
                  <p class="card-explanation">This is a well researched article about a review of carbon footprint and how to do offseting
                    This is a great article for future research.
                </div>
              </div>
        </div>

    </div>
    <h5 class="offset-sub-heading" style="color: black; text-align: center;padding-top: 3%;">Advanced articles For deep research </h5> 
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 35rem; margin:auto;margin-top: 3%;">
                <img src="/images/reforestation.jpeg" class="card-img-top" alt="...">
                <div class="card-header">
                    <a href=""><h3></h3>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-explanation">
                        This is a very interesting article on the concept whether to offset or reduce and provides a tangible way of 
                        how we should proceed in future
                    </p>
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 35rem; margin:auto;margin-top: 3%;">
                <img src="/images/renewable.jpeg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h3>Renewable energy Subscription</h3>
                </div>
                <div class="card-body">
                    <p class="card-explanation">In the afformentioned article it provides the political view of carbon footprint and offseting and its future in world.
                </div>
              </div>
        </div>
</div>
<div class="caro-indus">

</div>
<%- include("partials/footer") -%>
