<%-include("partials/header") -%>
<div class="result-indus">
    <div class="row result-bg">
        <div class="col-lg-6">
            <div class="result-bg-1">
                <h1 class="result-title">
                    Your Company's Estimated Annual Carbon Impact Is <%= footprintb %> Tonnes of CO<sub>2</sub>
                </h1>
                <h3 class="result-sh">
                    Protecting <%= areab %> hectacres of Tropical Forest can neutralise that amount of carbon dioxide.
                </h3>
            </div>
      
        </div>
        <div class="col-lg-6 ">
          <div class="result-bg-2">
            <h1 class="result-tit">Safeguard Global Ecology</h1>
            <p class="result-par">Earth is the only place in this entire universe which we can call home and our home face imminent danger.
              We must act before it's too late and an irreversible trend of ecosystem destruction starts.It may be the last call to action 
              until that trend actually starts.So we must come together and act rapidly and responsively and offseting your carbon footprint is the 
              first step in the fight. Therefore join us and protect our planet.
            </p>
          </div>
        </div>
    </div>
</div>
<div class="card-indus">
    <h1 class="testimonial-heading" style="text-align: center; font-weight: 500; padding-top: 4%; padding-bottom: 2%;">Offset Choices</h1>
    <h5 class="offset-sub-heading" style="color: black; text-align: center;padding-bottom: 3%;">Some general Tips to Reduce Carbon Footprints </h5>
    <div class="row">
        <div class="col-lg-6">
           <div class="card" style ="width: 35rem; margin:auto;margin-top:3%">
            <img src="/images/energyeffciency.jpeg" class="card-img" alt="">
            <div class="card-header">
                <h3>Energy Efficiency</h3>
            </div>
            <div class="card-body">
                <p class="card-explanation">Taking simple steps such as using upgraded machines,providing insulation and optimizing process
                    will lead to energy efficency cutting down Carbon emissions.
                </p>
            </div>
           </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 30rem; margin:auto;margin-top: 3%;">
                <img src="/images/carbonstorage.jpeg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h3>Carbon Capture and Storage(CCS)</h3>
                </div>
                <div class="card-body">
                  <p class="card-explanation">
                    CCS technologies capture carbon dioxide emissions from industrial processes or power plants and store them underground, preventing them from entering the atmosphere.
                  </p>
                </div>
              </div>
        </div>
    </div>
    <h5 class="offset-sub-heading" style="color: black; text-align: center;padding-top: 3%;">Carbon Offset Programs Your Company can Invest in </h5> 
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 35rem; margin:auto;margin-top: 3%;">
                <img src="/images/tamilnadu.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <a href="https://www.power-technology.com/projects/tamilnaduwind/"><h3>Tamil Nadu Wind Energy Project</h3>
                        </a>
                </div>
                <div class="card-body">
                  <p class="card-explanation">The wind farm located in Muppandal,Kanyakumari district in sate of Tamil Nadu is a good project for you company to invest in 
                    .This is the largest wind energy farm in India and has available offset of about 600 tonnes of Co2.
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 35rem; margin:auto;margin-top: 3%;">
                <img src="/images/solidwaste.jpeg" class="card-img-top" alt="...">
                <div class="card-header">
                    <a href="https://www.pmc.gov.in/en/solid-waste-management-strategic-plan#:~:text=Pune%20Municipal%20Corporation%20has%20prepared,transportation%2C%20processing%20%26%20Scientific%20Landfill%20."><h3>Pune Municipal Solid Waste Management Project</h3>
                    </a>
                </div>
                <div class="card-body"> 
                  <p class="card-explanation">This Solid waste maagement Project by Pune municipal corporation is one of its kind.This greatly reduces the harmful impacts 
                    of fiiling lanfiils and also ensures cleanliness in city..The available offset os about 300 tonnes of Co2.
                </div>
              </div>
        </div>

    </div>
    <h5 class="offset-sub-heading" style="color: black; text-align: center;padding-top: 3%;">Subscribtion Plans Offered by Us </h5> 
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 35rem; margin:auto;margin-top: 3%;">
                <img src="/images/reforestation.jpeg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h3>Reforestation Subscription</h3>
                </div>
                <div class="card-body">
                    <p class="card-explanation">
                        Under this plan we will plant adequate number of trees according to your carbon footprint calculation 
                        and will thus offset your footprints
                    </p>
                    <h5>₹20000</h5>
                    <div class="d-grid gap-2"><button class="btn btn-primary button1">Pay Now</button></div>
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 35rem; margin:auto;margin-top: 3%;">
                <img src="/images/renewable.jpeg" class="card-img-top" alt="...">
                <div class="card-header">
                    <h3>Renewable energy Subscription</h3>
                </div>
                <div class="card-body">
                    <p class="card-explanation">
                        In this plan we will provide you with varoius renewable energy option for generating power  helping the clean energy 
                        movement and reduce your footprints
                    </p>
                    <h5>₹25000</h5>
                    <div class="d-grid gap-2"><button class="btn btn-primary button1">Pay Now</button></div>
                </div>
              </div>
        </div>
</div>
<div class="caro-indus">

</div>
<%-include("partials/footer") -%>